{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <a href="home" class="header__logo">Физтех.Знакомства</a>
                    <div class="header__menu menu">
                        <div class="menu__icon icon-menu">
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li class="menu__photo"><a href="profile"><img src="{% static 'main/img/s7x0gJXrbC8.jpg' %}"></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="page">
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</body>
</html>